<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
	<link rel='stylesheet' href='stylesheets/font.css'  type='text/css'>
	<link rel="stylesheet" href="stylesheets/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/showDetailStyle.css">
	<script src="javascripts/modernizr.js"></script>
	<title>STORE</title>
</head>
<body>
	<main class="cd-main-content">
		<div class = "detailContent">
			<% for(var i = 0; i<data.length; i++){ %>
			<div class = "image">
				<img src="images/<%= data[i].image_name%>.jpg">
			</div>
			<div class = "information">
				<h1 class = "productName"><%= data[i].name%></h1>
				<ul class = "productInfo">
					<li>Product ID: <%= data[i].id%></li>
					<li>Quantity : <%= data[i].quantity%> Left in stock</li>
				</ul>
				<h1 class = "productPrice">Price: <%= data[i].price%>원</h1>
			</div>
			<%}%>
		</div>
	</main>
	<script src="javascripts/jquery-2.1.4.js"></script>
</body>
</html>