doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='../stylesheets/font.css', type='text/css')
    link(rel='stylesheet', href='../stylesheets/reset.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='../stylesheets/bootstrap.css').
    link(rel='stylesheet', href='../stylesheets/showDetailStyle.css')
    script(src='../javascripts/modernizr.js').      
    title Detail
  div.toLogout
    a(href ='../logout')
      i.fa.fa-sign-out LOGOUT
    p.session You are logged in as #{user.local.email}     
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only
          .navbar-brand(href='#') HOUSE FURNITURE
        #navbar.collapse.navbar-collapse
          ul#nav.nav.navbar-nav
            li
              a(href='../') Home
            li
              a(href='/store') Store
            li
              a(href='/shoppingcart') Shopping Cart
            li
              a(href='/contact') Contact
    header.heading
      img(src='../images/banner1.png')
    nav.cd-stretchy-nav
      a.cd-nav-trigger(href='#')
        | Menu
        span(aria-hidden='true')
      ul
        li
          a(href='../')
            span HOME
            // <i class="fa fa-home" aria-hidden="true">
        li
          a(href='../store')
            span STORE
        li
          a(href='../shoppingcart')
            span SHOPPING CART
        li
          a(href='#')
            span CONTACT
      span.stretchy-nav-bg(aria-hidden='true')

    main.cd-main-content
      .detailContent
        -for(var i = 0; i<data.length; i++){
          .image
            img(src='../images/#{data[i].image_name}.jpg')
          .information
            h1.productName= data[i].name
            ul.productInfo
              li Product ID: #{data[i].id}
              li Quantity : #{data[i].quantity}
            h1.productPrice Price: #{data[i].price}ì›
            a.addToCart(href='../shoppingcart/add/#{data[i].id}')
              i.fa.fa-shopping-cart Add into Shopping-cart
        -}        
    script(src='../javascripts/jquery-2.1.4.js').
    script(src='../javascripts/main.js').   
    script(src='../javascripts/bootstrap.js')